
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XacNhanDonHang</title>
</head>
<body>
    <div> 
        <h1>Đặt hàng thành công</h1>
        <a href="@Url.Action("Index","Home")"><button>Trở về</button></a>
    </div>
</body>
</html>
